{% extends 'base.html' %}


{% block content %}
<br><br><br><br><br>
<div class="container-fluid text-center">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Aplicación realizada por Leandro Villalba</h5>
            <p class="card-text-dark">Estudiante de la plataforma de Coderhouse</p>
            <p class="card-text-dark">Ante cualquier comentario o consulta, estamos a su disposición en nuestras
                redes</p>
            <a href="https://www.linkedin.com/in/leagabvil88/" target="_blank" class="btn btn-dark ">Linkedin</a>
            <a href="https://www.instagram.com/leagabvil/" target="_blank" class="btn btn-dark">Instagram</a>
        </div>
    </div>
</div>
{% endblock content %}
    
